---
layout: base.njk
title: Vassiliy Kuzenkov - full-stack developer, team leader and cats lover
description: Vassiliy Kuzenkov about page - contains information about him
---

<main id="main" class="p-6 md:p-12 lg:p-16">
  <p>Hi, I'm Vassiliy Kuzenkov. @bondiano<p>
</main>
